doctype html
html
    head
        style
            include st.css

    body
        div
            block con

        div.footer
            | CAR SHOP TEAM
            br
            br
            a(href=site) OUR WEB SITE
